.root{
    width: max-content;
    height: max-content;
    background-color: rgba(166, 181, 202, 0.397);
    display: flex;
    align-items: center;
    justify-content: center;
}
#button{
    padding: 20px;
}